<section class="row p-2 mt-3 ms-3 me-1">
<section class="col-8 p-4">

<div class="card p-2 m-2 card-dark">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <button type="button" class="btn btn-primary">Купити</button>
</section>

</div>

<section class="col">


<div class="card p-2 m-2 card-dark">
    <ul>
        <li>Item 1</li>
         <li>Item 2</li>
          <li>Item 3</li>
    </ul>
</div>

</section>

<section class="col">
<div class="card p-2 m-2 card-dark">
    <ul>
        <li class="item">1 item</li>
         <li class="item">2 item</li>
          <li class="item">3 item</li>
           <li class="item">4 item</li>
    </ul>
</div>
</section>


<section class="col">
<div class="card p-2 m-2 card-dark">
    <ul>
        <li class="item">1 item</li>
         <li class="item">2 item</li>
          <li class="item">3 item</li>
           <li class="item">4 item</li>
    </ul>
   
   <h5> only-child </h5>
    <ul>
        <li>only-child item</li>
         </ul>

         <h5>.item:only-child</h5>
<ul class="item">
         <li >4 item</li>
    </ul>
</div>
</section>


<section class="col">
<div class="card p-2 m-2 card-dark">
    <article>First-child - only block</article>
    <p>World</p>
    <ul>
        <li>1 item</li>
         <li class="item">2 item</li>
          <li class="item">3 item</li>
           <li class="item">4 item</li>
    </ul>
<div class="btn">Hello</div>
</div>
</section>



<section class="col">
<div class="card p-2 m-2 card-dark">
<b>First</b>
<p>First</p>
<p>Second</p>
<p>Second</p>
</div>
</section>



</section>

<h3>Stop time: 20:38 - Selector 1</h3>