<div class="card p-5 m-5 card-dark">
    <p>Hello World!</p>
    <span>Hello Planet!</span>
    <h1>Hello You!</h1>
    <h1 id="global">Hello You!</h1>
</div>

<div id="inherit" class="card p-5 m-5 card-dark">
    <pre>ht bfbds ksld,x</pre>
    <p>Hello World!</p>
    <span>Hello Planet!</span>
    <h1>Hello You!</h1>
    <h1 id="global">Hello You!</h1>
    <em>Hello Me!</em>
    <h2>Justify Justify Justify Justify</h2>
    <p id="justify">Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World!</p>
</div>