
<main class="p-5 m-5">
    <span class="block">Hello Planet!</span>
    <span class="block">Hello Planet!</span>
    <span class="block">Hello Planet!</span>
    <span>Hello Planet!</span>
    <span>Hello Planet!</span>
    <span>Hello Planet!</span>

<div class="inline-block" style="margin: 10px 50px;">
    <span>Hello Planet!</span>
    <span>Hello Planet!</span>
    <span>Hello Planet!</span>
        <span class="block">Hello Planet!</span>
            <span>Hello Planet!</span>
</div>
</main>

{{!-- Lesson #8 Fonts Start--}}
<div class="card p-5 m-5 card-dark">
    <p>Hello World!</p>
    <span>Hello Planet!</span>
    <h1>Hello You!</h1>
    <h1 id="global">Hello You!</h1>
</div>

<div id="inherit" class="card p-5 m-5 card-dark">
    <pre>Хто тут?!</pre>
    <p>Hello World!</p>
    <span>Hello Planet!</span>
    <h1>Hello You!</h1>
    <h1 id="global">Hello You!</h1>
    <em>Hello Me!</em>
    <h2>Justify Justify Justify Justify</h2>
    <p id="justify">Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World!</p>
</div>
