html {
  max-width: 1600px;
}

body {
  background: red;
}

li:first-child {
  color: yellow;
}

li:last-child {
  color: blue;
}

li:only-child {
  color: black;
}

.item:only-child {
  color: black;
}

.item:first-child {
  color: blue;
}

p:first-of-type {
  color: white;
}

p:last-of-type {
  color: red;
}

h1 {
  color: green;
}

.card-dark {
  background: grey;
}

.card-light {
  background: white;
}

.item {
  color: red;
}

.item-first {
  color: white;
}

.item:first-child {
  color: orange;
}

.input-dark {
  background: grey;
}

.text-af::after {
  color: white;
  content: 'Byebye:(';
}

.input-dark[required] {
  background: yellow;
}

.input-dark[type="number"] {
  background: green;
}

.input-dark::placeholder {
  background: blue;
  color: red;
}

.input-be::before {
  background: dark;
  color: white;
  content: 'Hello everybody';
}

.text-be::before {
  background: dark;
  color: white;
  content: 'Hello everybody';
}

.small-image[alt~="pic"] {
  width: auto;
  max-width: 200px;
}

.small-image[alt|="sizes"] {
  width: auto;
  max-width: 200px;
}

.card[class~="col"] {
 background: yellow;
}

a[rel~="external"]>h1{
  color: white;
}

button[class^="nav-link"] {
  color: yellow;
}

a[rel*="external"]>h1{
  color: red;
}

div[class$="ltr"]>p{
  background: green;
}

div[class|="work"]>p {
  background: blue;
}

.letter::first-letter {
  font-size: 48px;
  color: white;
}

.btn::first-letter {
  font-size: 48px;
  color: white;
}

.line::first-line {
  font-size: 48px;
  color: grey;
}

.line::last-line {
  font-size: 48px;
  color: green;
}

a[href*="#"] {
  color: red;
}

#test:target {
  color: red;
}

.link:link {
  color: red;
}

.link:hover {
  color: yellow;
}

#hover:hover {
  background: green; 
}

a[href*="#active"]:active {
  color: blue;
}

input {
  background-color: blue;
}

input:focus {
  background-color: red;
}

#within:focus-within {
  background-color: blue;
}

.card:lang(en)>span::after {
  content: '(en)';
}

#button>button {
  color: green;
}

#button>button:disabled {
  background-color: green;
  color: white;
}

.inp:read-write {
  background-color: green;
}

.inp:read-only {
  background-color: yellow;
}

input[type="checkbox"]:checked ~ span {
  background-color: red;
}

.valid:valid {
  background: green;
}

.valid:invalid {
  background: red;
}

.valid:optional {
  background: blue;
}

.number:focus {
  background: grey;
}

.number:out-of-range {
  background: red;
}

.number:in-range {
  background: green;
}


input:placeholder-shown {
  background-color: white;
}

input:placeholder-shown ~ span {
  color: white;
}