<!DOCTYPE html>
<html>

	<head>
		<title>
			Slack page
		</title>
		<meta charset='utf-8' />
		<link href='/css/normalize.css' rel='stylesheet'/>
		<link href='css/slack.css' rel='stylesheet'/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
	</head>

	<body>

		<div class="page">
					<div class="page_content">

						Test

					</div>
		</div>

	</body>

</html>
